<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../../css/slider.css">
    <link rel="stylesheet" href="../../fonts/icomoon/style.css">
    <link rel="stylesheet" href="../../css/Nav.css">
    <link rel="stylesheet" href="../../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../css/">
    <link rel="stylesheet" href="../../css/media query.css">
    <link rel="stylesheet" href="../../css/animaciones.css">
    <link rel="stylesheet" href="../../css/swiper-bundle.min.css">

    <link rel="stylesheet" href="Style/productos.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
</head>

<body>


    <div class="solicitar " id="card">
        <div class="contenedor container-fluid">
            <div class="row salir ">
                <svg onclick="card_desactivar()" version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt"
                    height="512.000000pt" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000"
                        stroke="none">
                        <path d="M205 5103 c-171 -61 -248 -244 -175 -410 17 -39 212 -239 1063 -1090
l1042 -1043 -1046 -1047 c-1163 -1165 -1084 -1076 -1084 -1218 1 -86 25 -145
85 -205 60 -60 119 -84 205 -85 142 0 53 -79 1218 1084 l1047 1046 1048 -1046
c1164 -1163 1075 -1084 1217 -1084 86 1 145 25 205 85 60 60 84 119 85 205 0
142 79 53 -1084 1217 l-1046 1048 1046 1048 c1163 1164 1084 1075 1084 1217
-1 86 -25 145 -85 205 -60 60 -119 84 -205 85 -142 0 -53 79 -1218 -1084
l-1047 -1046 -1043 1042 c-870 871 -1050 1046 -1091 1064 -68 30 -158 34 -221
12z" />
                    </g>
                </svg>

            </div>

            <div class="row principal">

                <div class=" col-sm-12 col-md-6 img_producto m-auto">
                    <img id="imgc" src="img_productos/157511-240-240.png" alt="">
                </div>




                <div class="col-xs-12 col-lg-6 container-fluid contenido ">
                    <div class="row nombre">
                        <h2 id="nombre">Xiaomi Redmi Note 11-4+128GB - Graphite Gray (NFC)</h2>


                    </div>
                    <div class="row valoraciones">
                        <div class="col-4 titulo">
                            <h4>valoraciones generales</h4>
                        </div>

                        <div class="estrellas col-8">
                            <img src="img/estrella.png" alt="">
                            <img src="img/estrella.png" alt="">
                            <img src="img/estrella.png" alt="">
                            <img src="img/estrella.png" alt="">
                            <img src="img/estrella.png" alt="">

                        </div>
                    </div>


                    <div class="row precio">



                    </div>

                    <div class="row form">
                        <form action="" class="container-fluid">
                            <div class="row m-2">
                                <p class="col-4">Nombre ompleto</p> <input type="text" class="col-8">
                            </div>
                            <div class="row m-2">
                                <p class="col-4">Correo electronico</p> <input type="text" class="col-8">
                            </div>
                            <div class="row m-2">
                                <p class="col-4">Telefono</p> <input type="text" class="col-8">
                            </div>
                            <div class="row m-2 mb-4">
                                <p class="col-4">Comentario</p> <input type="text" class="col-8">
                            </div>

                            <div class="botones">
                                <button class="btn1"> <a href="https://api.whatsapp.com/send?phone=8292660404"
                                        target="_black">Solicitar </a></button>
                                <button class="btn2"> <a href="https://www.youtube.com/embed/">Ver video</a></button>


                                <!-- Video --- youtuber -->

                                <div id="video-container"></div>








                            </div>

                        </form>
                    </div>

                </div>



            </div>
        </div>
    </div>


















    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="info">
            <div class="izquierda">
                <div class="idioma">
                    <div class="dropdown">
                        <a class="prin  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            ES
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">IN</a></li>
                            <li><a class="dropdown-item" href="#">FR</a></li>
                            <li><a class="dropdown-item" href="#">CH</a></li>
                        </ul>
                    </div>
                </div>

                <div class="telefono">
                    <img class="tt" src="../../img/telefono.svg" alt="">
                    <div>
                        <p>(829)-266-0404</p>
                    </div>
                </div>

                <div class="telefono">
                    <img class="mm" src="../../img/correo-electronico.svg" alt="">

                    <div>
                        <p>Yacelltech@gmail.com</p>
                    </div>

                </div>


            </div>
            <div class="derecha">
                <a href="../login/login.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    Inicio de seccion/registro</a>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row align-items-center">

                <div class="col-6 col-xl-2">
                    <h1 class="mb-0 site-logo"><a href="../../index.html"><img
                                src="../../img/YACELLTECH - LOGO WEB - 2023_Mesa de trabajo 1.png" alt=""
                                class="logo"><span class="text-primary"></span> </a></h1>
                </div>

                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right d-flex justify-content-end"
                        role="navigation">

                        <ul
                            class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block d-flex justify-content-end">
                            <li><a href="../../index.html" class="nav-link">Inicio</a></li>
                            <li class="has-children">
                                <a href="../../template/productos.html" class="nav-link">productos</a>
                                <ul class="dropdown">
                                    <li class=" dropleft">
                                        <a href="#">celulares</a>

                                    </li>
                                    <li class="">
                                        <a href="#">Accesorios</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Menu One</a></li>
                                            <li><a href="#">Menu Two</a></li>
                                            <li><a href="#">Menu Three</a></li>
                                        </ul>
                                    </li>


                                    <li><a href="#services-section" class="nav-link">watch</a></li>


                                </ul>
                            </li>



                            <li class="has-children">
                                <a href="../../template/productos.html" class="nav-link">Servicios</a>
                                <ul class="dropdown">


                                    <li><a href="#gallery-section" class="nav-link">Reparaciones</a></li>



                                </ul>
                            </li>
                            <li><a href="#faq-section" class="nav-link">Ofertas</a></li>
                            </li>

                            </li>

                        </ul>
                    </nav>
                </div>


                <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3 d-flex justify-content-end"
                    style="position: relative; top: 3px;"><a href="#"
                        class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

            </div>
        </div>

    </header>




<div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="30000">
            <img src="../../img/YacellTech-Banner-Web-1 va---Logotipo-&-Redes.png" class="d-block w-100 img-fluid" alt="..."
                alt="Responsive image">
        </div>
        <div class="carousel-item" data-bs-interval="30000">
            <img src="../../img/YacellTech-Banner-Web-2 va---Marcas-Disponibles.png" class="d-block w-100 img-fluid"
                alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="titulo2"><h1 class="title">Reparamos todo tipo de dispositivos</h1>
</div>

<div class="contenido">

<div class="container info-r ">
    <div class="row">
        <div class=" col-sm-12 col-lg-6 pr-5">
            <img src="img/reparacioncelularf.jpg" alt="" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-12 col-lg-6">
            <h1>servicios de reparacion</h1>

            <p>En nuestra compañía, nos enorgullece brindar un servicio de calidad excepcional para todos tus problemas con tu teléfono
            móvil. Sabemos lo importante que es tu dispositivo para ti, ya sea para comunicarte, trabajar o simplemente mantenerte
            conectado con el mundo. Por eso, nos comprometemos a ofrecerte soluciones rápidas, confiables y duraderas</p>
        </div>
    </div>
</div>
</div>

<div class="numero_t">
<h1>Nuestro numero</h1>
<h2>829-653-6510</h2>
</div>


<div class="siguenos">


    <div class="redes_seguir">


        <div class="titulo">
            <h3>Siguenos en nustras redes sociales</h3>
            <h5>Estaremos para ti siempre aquí en todos los lugares que te resulte agradable</h5>
        </div>

        <div class="contenido">
            <div> <a href="https://www.instagram.com/yacelltech/" target="_black"><img src="../../img/instagram (2).png"
                        alt="Instagram" srcset=""></a>
                <h4>Instagram</h4>

            </div>
            <div><a href="https://www.facebook.com/profile.php?id=100090131902758" target="_black"> <img
                        src="../../img/facebook (1).png" alt="Facebook" srcset=""></a>
                <h4>facebook</h4>
            </div>
            <div> <a href="https://api.whatsapp.com/send?phone=8292660404" target="_black"><img src="../../img/whatsapp.png"
                        alt="Whatsapp" srcset=""></a>
                <h4>Whatsapp</h4>
            </div>
            <div> <a href="https://www.tiktok.com/@yacelltech?_t=8cjK9AgYZj4" target="_black"> <img src="../../img/tiktok.png"
                        alt="Tiktok" srcset=""> </a>
                <h4>TikTok</h4>
            </div>

        </div>

    </div>

</div>


<div class="gallery_container container">
<div class="gallery_item">
    <img src="img/ALIMENTADOR DE TELEFONO MOVIL 0.jpg" alt="">
</div>

<div class="gallery_item">
    <img src="img/anciana-reparacion-celular-hablar-hijos-shutterstock_1907032345.webp" alt="">
</div>

<div class="gallery_item">
    <img src="img/Copia-de-C-EdCiencia-P-2023-04-25T120204.137.webp" alt="">
</div>

<div class="gallery_item">
    <img src="img/curso-reparacion-de-celulares-y-tablets.jpg" alt="">
</div>

<div class="gallery_item">
    <img src="img/el_androide_libre_269487309_179907393_1200x615.jpg" alt="">
</div>

<div class="gallery_item">
    <img src="img/ITnHXJs.jpg" alt="">
</div>

<div class="gallery_item">
    <img src="img/reparacion-celulares.jpg" alt="">
</div>

<div class="gallery_item">
    <img src="img/reparacioncelularf.jpg" alt="">
</div>

<div class="gallery_item">
    <img src="img/reparacion-telefonos-celulares-centro-servicio-desmontaje-diagnostico-telefonos-inteligentes-vista-superior-lugar-trabajo-reparador_116547-11116.avif" alt="">
</div>

<div class="gallery_item">
    <img src="img/talleres-de-reparacion-de-celulares-en-miami.jpg" alt="">
</div>

<div class="gallery_item">
    <img src="img/talleres-de-reparacion-de-celulares-en-miami.jpg" alt="">
</div>
<div class="gallery_item">
    <img src="img/talleres-de-reparacion-de-celulares-en-miami.jpg" alt="">
</div>
<div class="gallery_item">
    <img src="img/talleres-de-reparacion-de-celulares-en-miami.jpg" alt="">
</div>
</div>







<script src="../../js/jquery-3.3.1.min.js"></script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.sticky.js"></script>
<script src="../../js/main.js"></script>
<script src="../../js/TABS.js"></script>
<script src="../../js/card.js"></script>
<!-- Swiper JS -->
<script src="../../js/swiper-bundle.min.js"></script>

<!-- JavaScript -->
<script src="../../js/script.js"></script>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>